body {
    
}

.url-input {
    position: relative;
    input[type='text'] {
        padding-right: $input-height-large + $padding-large-horizontal;
    }
    button[type='reset'] {
        background: none;
        border: none;
        font-size: $font-size-large;
        line-height: $input-height-large;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 $padding-large-horizontal;
        color: lighten($input-color-placeholder, 15%);
        /*@include single-transition(color, 0.2s, linear);*/
        &:hover {
            color: $input-color-placeholder;
        }
    }
    #result-page & {
        margin-right: -22px;
        @media (max-width: $screen-xs-max) {
            margin-right: 0;
        }
    }
}

#result-page {
    a {
        font-family: $font-family-monospace;
    }
    h1 {
        font-size: 20px;
        margin: 0 0 10px;
        color: lighten($text-color, 15%);
        a {
            color: lighten($text-color, 30%);
            font-size: 0.8em;
        }
    }
    .http-request {
        line-height: 2em;
        .http-status-code {
            display: inline-block;
            border-radius: 0;
            font-size: 1em;
            line-height: 2em;
            margin-right: 0.5em;
        }
        .http-request-url {
            font-family: $font-family-monospace;
        }
        &.warning {
            background: rgba($brand-warning, 0.15);
        }
        &.success {
            background: rgba($brand-success, 0.15);
        }
    }
    .http-header {
        td {
            font-family: $font-family-monospace;
            font-size: 0.9em;
            word-break: break-all;
        }
        .highlight {
            background: $table-bg-accent;
            td {
                color: $link-hover-color;
                text-decoration: underline;
            }
        }
    }
}