body {
    
}

.url-input {
    position: relative;
    input[type='text'] {
        padding-right: $input-height-large + $padding-large-horizontal;
    }
    button[type='reset'] {
        background: none;
        border: none;
        font-size: $font-size-large;
        line-height: $input-height-large;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 $padding-large-horizontal;
        color: lighten($input-color-placeholder, 15%);
        /*@include single-transition(color, 0.2s, linear);*/
        &:hover {
            color: $input-color-placeholder;
        }
    }
    #inner-form & {
        margin-right: -22px;
    }
}