/vendor
/node_modules
.env
/nbproject/private/
resources/js/app.js.map
resources/js/app.js
public/js/
public/css/
public/build/
public/android-chrome-144x144.png
public/android-chrome-192x192.png
public/android-chrome-36x36.png
public/android-chrome-48x48.png
public/android-chrome-72x72.png
public/android-chrome-96x96.png
public/apple-touch-icon-114x114.png
public/apple-touch-icon-120x120.png
public/apple-touch-icon-144x144.png
public/apple-touch-icon-152x152.png
public/apple-touch-icon-180x180.png
public/apple-touch-icon-57x57.png
public/apple-touch-icon-60x60.png
public/apple-touch-icon-72x72.png
public/apple-touch-icon-76x76.png
public/apple-touch-icon-precomposed.png
public/apple-touch-icon.png
public/browserconfig.xml
public/favicon-16x16.png
public/favicon-32x32.png
public/favicon-96x96.png
public/favicon.ico
public/manifest.json
public/mstile-144x144.png
public/mstile-150x150.png
public/mstile-310x150.png
public/mstile-310x310.png
public/mstile-70x70.png
